<div class="container ">
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
      <a  routerLink="list"><img src="https://user-images.githubusercontent.com/60717471/74255537-9d4cbe80-4cb7-11ea-98ef-ad3119754dc0.png" alt="logo" height="42px" width="80px"></a>
    </li>
  </ul>
  <ul class="nav navbar-nav right">
    <li >
      <a class="align" routerLink="list">List</a>
    </li>
    <li>
      <a class="align"routerLink="edit/0">Create</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
</div>
